<div class="jumbotron">
  <div>
    <img id="img_1" style="width: 100px; height: 100px" src="http://placehold.it/100x100">
    <button class="answer">1</button>
  </div>

  <div>
    <img id="img_2" style="width: 100px; height: 100px" src="http://placehold.it/100x100">
    <button class="answer">2</button>
  </div>
</div>

